body, html {
	height: 100%;
	margin: 0;
	font-size: 18px;
	font-family: Lato, sans-serif;
	background-color: #c1c1c1;
	scroll-behavior: smooth;
}

h2 {
	margin-top: 100px;
	font-family: Merriweather;
	font-style: italic;
	font-size: 50px;
	padding: 50px;
	padding-top: 100px;
}

/* Navigation is the navbar */
.navigation {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation a:hover {
  background: #c1c1c1;
  color: black;
}


/* This is the initial background image page */
.landpage {
	background-image: url("books.jpg");
	height: 100%; 

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 

.landpage a {
	color: #f2f2f2;
	text-decoration: none;
}

.landpage a:visited {
	text-decoration: none;
}

.landpage a:hover {
	background: #c1c1c1;
	color: black;
}

/* All other pages have to have "pages" in its class */
.pages {
	min-height: 100%;
	background-color: #c1c1c1;
}
	

/* These are for all page content */
.title {
	font-weight: 400;
	background-color: #2c2c2c;
	color: #fff;
	padding: 18px;
	font-size: 30px;
	letter-spacing: 10px;
	line-height: 2;
}

.caption {
	position: absolute;
	width: 100%;
	top: 40%;
	text-align: center;
}

.content {
	padding: 40px;
	margin:40px
	auto;max-width:650px;
	line-height:1.6;
	font-size:18px;
}

/* "Box" is the different coloured boxes that contain text */
.box0 {
	background: #e2e2e2;
	border-left: 10px solid #2c2c2c;
	margin: 30px auto;
	max-width: 700px;
}

.box1 {
	background: #e2e2e2;
	border-left: 10px solid #a34738;
	margin: 30px auto;
	max-width: 700px;
}

.box2 {
	background: #e2e2e2;
	border-left: 10px solid #86a31c;
	margin: 30px auto;
	max-width: 700px;
}

.box3 {
	background: #e2e2e2;
	border-left: 10px solid #b3a82b;
	margin: 30px auto;
	max-width: 700px;
}

.column {
	align: center;
	float: left;
	width: 20%;
	padding: 40px;
}

.row {
}



/* Upcoming fixes to create a drop down menu on smaller screens */

/*
.navigation .icon {
	display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
*/
